.new_section_modal_wrapper {
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_section_modal_wrapper > section {
  background: white;
  width: 700px;
  padding: 20px;
  display: flex;
}

