.aside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}

@media (max-width: 1023px) {
  .aside {
    display: none;
  }
}

.aside nav {
  display: flex;
  align-items: center;
}

.aside nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.aside nav ul li {
  text-transform: capitalize;
}

.aside nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.aside nav ul li a:hover {
  transform: scale(1.1);
}
