.footer {
  background: black;
  color: white;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.navs_container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav h4 {
  text-transform: capitalize;
}

.nav ul {
  display: flex;
  flex-direction: column;
}

.nav > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  text-transform: capitalize;
  opacity: 0.75;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter fieldset {
  border: none;
  display: flex;
  gap: 10px;
}

.newsletter fieldset > * {
  width: 100%;
}

.newsletter input {
  border: 1px solid white;
}

.newsletter button {
  border: 1px solid white;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter small {
  opacity: 0.75;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile p {
  opacity: 0.75;
}

.email {
  opacity: 0.75;
  font-size: 0.9rem;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  display: flex;
  align-items: center;
}

.socials img {
  padding: 2px;
  width: 23px;
  height: auto;
}
