.layout_root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

@media (min-width: 600px) {
  .main {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .main {
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
}
