.article_preview_section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0;
  gap: 70px;
}

@media (min-width: 600px) {
  .article_preview_section {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .article_preview_section.featured {
    max-width: 700px;
  }

  .article_preview_section.latest {
    max-width: 400px;
    gap: 50px;
    margin-left: -50px;
  }

  @media (min-width: 1400px) {
    .article_preview_section.latest {
      max-width: 550px;
      margin-left: 0;
    }
  }

  .article_preview_section.latest .article_preview {
    flex-direction: row;
    align-items: center;
  }

  .article_preview_section.latest .cover {
    width: 100px;
    order: 2;
  }

  .article_preview_section.latest h3 {
    line-height: 1.5rem;
    font-size: 1.25rem;
  }

  .article_preview_section.latest .description {
    display: none;
  }

  .article_preview_section.all {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }



  .article_preview_section.all h2 {
    width: 100%;
  }

  .article_preview_section.all .article_preview {
    max-width: 300px;
  }

  @media (min-width: 1400px) {
    .article_preview_section.all .article_preview {
      max-width: 400px;
    }
  }

  .article_preview_section.all button {
    margin-inline: 400px;
  }
}

.article_preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article_preview hgroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article_preview h3 {
  line-height: 2rem;
}

.cover {
  width: 100%;
  height: auto;
}

.tags_container {
  display: flex;
  gap: 10px;
}

.tags_container p {
  opacity: 0.75;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.description {
  line-height: 1.5rem;
}
