.article_preview_section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0;
  gap: 70px;
}

@media (min-width: 600px) {
  .article_preview_section {
    max-width: 600px;
  }

  .article_preview_section.related {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 50px;
  }

  .article_preview_section.related h2 {
    width: 100%;
  }

  .article_preview_section.related .article_preview {
    max-width: 600px;
  }

  @media (min-width: 800px) {
    .article_preview_section.related .article_preview {
      max-width: 350px;
    }
  }
}

@media (min-width: 1200px) {
  .article_preview_section.featured {
    max-width: 650px;
  }

  .article_preview_section.latest {
    max-width: 450px;
    gap: 50px;
    margin-left: -50px;
  }

  @media (min-width: 1400px) {
    .article_preview_section.latest {
      margin-left: 0;
    }
  }

  .article_preview_section.latest .article_preview {
    flex-direction: row;
    align-items: center;
  }

  .article_preview_section.latest .cover {
    width: 100px;
    order: 2;
  }

  .article_preview_section.latest h3 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .article_preview_section.latest .description {
    display: none;
  }

  .article_preview_section.all,
  .article_preview_section.related {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .article_preview_section.related {
    justify-content: start;
  }

  @media (min-width: 1400px) {
    .article_preview_section.all,
    .article_preview_section.related {
      gap: 70px;
    }
  }

  .article_preview_section.all h2,
  .article_preview_section.related h2 {
    width: 100%;
  }

  .article_preview_section.all .article_preview,
  .article_preview_section.related .article_preview {
    max-width: 300px;
  }

  .article_preview_section.all button,
  .article_preview_section.related button {
    margin-inline: 400px;
  }
}

.article_preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s;
}

@media (min-width: 1024px) {
  .article_preview {
    padding: 20px;
  }
}

.article_preview:hover {
  transform: scale(1.03);
  cursor: pointer;
  background: #f5f5f5;
}

.article_preview hgroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article_preview h3 {
  line-height: 2.5rem;
}

.cover {
  width: 100%;
  height: auto;
}

.tags_container {
  display: flex;
  gap: 10px;
}

.tags_container p {
  opacity: 0.75;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.description {
  line-height: 1.9rem;
}
