.profile {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
}

@media (min-width: 650px) {
  .profile {
    max-width: 300px;
  }
}

@media (min-width: 1400px) {
  .profile {
    max-width: 400px;
  }
}

.profile p {
  opacity: 0.75;
  line-height: 1.4rem;
}

.email {
  opacity: 0.75;
  font-size: 0.9rem;
}
