.nav {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav h4 {
  text-transform: capitalize;
}

.nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.nav > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  text-transform: capitalize;
  opacity: 0.75;
}
