.form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form input {
  width: 100%;
  height: 40px;
}

.form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.form img {
  height: auto;
}
