.article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.article > header,
.article > section {
  padding: 20px;
}

.article header hgroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article h1 {
  line-height: 2.2rem;
}

.article header address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article header hgroup h2 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.article section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article section > h3 {
  line-height: 1.8rem;
}

.article section p {
  line-height: 1.5rem;
}

.article section > ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.article section > ol > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary p {
  font-style: italic;
}

.feedback {
  display: flex;
}

.feedback button {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.related {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.related > h3 {
  text-align: start;
  width: 100%;
  padding: 20px;
}

.related > div {
  display: flex;
  width: 100%;
}

@media (min-width: 1024px) {
  .article {
    max-width: 1000px;
    gap: 50px;
    margin: 0 auto;
  }

  .article h1 {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }

  .article header hgroup h2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .article section > h3,
  .related > h3 {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .article section p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .article section > ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
  }

  .article section > ol > li {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .article section > ol > li > h4 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .related {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
  }

  .related > div button {
    width: 50%;
  }
}
