.section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary_title + p > em {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

@media (min-width: 600px) {
  .section img {
    max-width: 600px;
  }

  .summary_title + p > em {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.summary_title {
  text-transform: uppercase;
}

.feedback_form {
  display: flex;
  gap: 10px;
}

.feedback_form button {
  padding: 3px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.feedback_form button img {
  width: 30px;
  height: auto;
}
