.div {
  padding: 10px;
}

.div:hover {
  background: #ececec;
  cursor: pointer;
}

/* .div_not_editing:hover {
  background: #ececec;
  cursor: pointer;
}

.div_not_editing > * {
  display: inline-block;
  padding: 15px;
}

.div_not_editing > small {
  padding: 5px 15px;
}

.div_editing form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.div_editing form input {
  width: 100%;
} */
