button {
  background: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 1rem;
}

input {
  background: transparent;
  border: 1px solid black;
  padding: 10px;
  font-size: 1rem;
}

h1 {
  
}