button {
  background: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 1rem;
}

input {
  background: transparent;
  border: 1px solid black;
  padding: 10px;
  font-size: 1rem;
}

p {
  line-height: 2rem;
}

@media (max-width: 600px) {
  p {
    line-height: 1.7rem;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 4.5rem;
}

@media (max-width: 600px) {
  h1 {
    line-height: 3.5rem;
  }
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 0.3rem;
  line-height: 3.3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.7rem;
}

h4,
label {
  font-size: 1.2rem;
  font-weight: bold;
}

input:focus {
  outline: 1px solid black;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }
}
